@font-face {
	font-family: 'MullerRegular';
	src: url('../fonts/MullerRegular.eot');
	src:
	     url('../fonts/MullerRegular.woff') format('woff'),
		 url('../fonts/MullerRegular.woff2') format('woff'),
	     url('../fonts/MullerRegular.ttf') format('truetype'),
	     url('../fonts/MullerRegular.svg') format('svg');
	font-style: normal;
}
@font-face {
	font-family: 'MullerLight';
	src: url('../fonts/MullerLight.eot');
	src:
	     url('../fonts/MullerLight.woff') format('woff'),
		 url('../fonts/MullerLight.woff2') format('woff'),
	     url('../fonts/MullerLight.ttf') format('truetype'),
	     url('../fonts/MullerLight.svg') format('svg');
	font-style: normal;
}
@font-face {
	font-family: 'MullerBlack';
	src: url('../fonts/MullerBlack.eot');
	src:
	     url('../fonts/MullerBlack.woff') format('woff'),
		 url('../fonts/MullerBlack.woff2') format('woff'),
	     url('../fonts/MullerBlack.ttf') format('truetype'),
	     url('../fonts/MullerBlack.svg') format('svg');
	font-style: normal;
}
@font-face {
	font-family: 'MullerBold';
	src: url('../fonts/MullerBold.eot');
	src:
	     url('../fonts/MullerBold.woff') format('woff'),
		 url('../fonts/MullerBold.woff2') format('woff'),
	     url('../fonts/MullerBold.ttf') format('truetype'),
	     url('../fonts/MullerBold.svg') format('svg');
	font-style: normal;
}
@font-face {
	font-family: 'MullerHeavy';
	src: url('../fonts/MullerHeavy.eot');
	src:
	     url('../fonts/MullerHeavy.woff') format('woff'),
		 url('../fonts/MullerHeavy.woff2') format('woff'),
	     url('../fonts/MullerHeavy.ttf') format('truetype'),
	     url('../fonts/MullerHeavy.svg') format('svg');
	font-style: normal;
}
@font-face {
	font-family: 'MullerMedium';
	src: url('../fonts/MullerMedium.eot');
	src:
	     url('../fonts/MullerMedium.woff') format('woff'),
		 url('../fonts/MullerMedium.woff2') format('woff'),
	     url('../fonts/MullerMedium.ttf') format('truetype'),
	     url('../fonts/MullerMedium.svg') format('svg');
	font-style: normal;
}

