* {
 margin: 0;
 border: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-color: #000;
 color:#fff;
 font-family: 'MullerLight';
 font-size: 18px;
 line-height:1.5; 
}

#top-nav{
 position:fixed;
 width:100%;
 padding:25px;
 z-index:7999;
}

#navbar-toggler-icon{
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
 cursor:pointer;
 position:absolute; 
 right:25px;
 width:30px;
 height:30px;
}

#page{
	display:none;
}

.content{
 width:550px;
 margin: -30px auto 0 auto; 
 color:#fff;
}

.vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.section{
 width:100%;
 background-repeat: no-repeat;
 background-position:50% 50%;
 background-size:cover;
 overflow:hidden; 
 position:absolute;
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: alpha(opacity=0);
 -moz-opacity: 0;
 -khtml-opacity: 0;
 opacity: 0;
 margin:0;
}

#section1{
 background-image:url(../images/screen1.jpg);
}

#section1__content{
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: alpha(opacity=0);
 -moz-opacity: 0;
 -khtml-opacity: 0;
 opacity: 0;
 animation-duration: 1s;
 animation-delay: 0.5s;
 animation-name: slidein;
 animation-timing-function: ease-out;
 animation-fill-mode: forwards;	
}

@keyframes slidein {
  from {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
  }

  to {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;	
  }
}

#section1__arr{
	width:50px;
	height:50px;
	cursor:pointer;
	margin:25% 0 0 0;
}

#section2{
 background-image:url(../images/screen2.jpg);
}

#section3{
 background-image:url(../images/screen3.jpg);
}

#section4{
 background-image:url(../images/screen4.jpg);
}

#section5{
 background-image:url(../images/screen3.jpg);
}

#nav-container{
 position:fixed;
 right:30px;
 z-index:5000;
}

.nav-btn{
 cursor:pointer;
 margin:20px 0 20px 0;
 width:10px;
 height:10px;
 background-color: #cbcccc;
 border-radius: 10px;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
}

.curr-section{
 background-color: #fff;
 cursor:default;
 width:16px;
 height:16px;
 margin:20px 0 20px -3px;
}

.logo{
	width:250px;
	height:250px;
	margin:0 0 30px 0;
}

.logo--page{
	width:100px;
	height:100px;
	margin:0 0 50px 0;
}

.logo--company{
	width:180px;
	height:180px;
	margin:0 0 10px 0;
}

.logo--company-top{
	width:50px;
	height:50px;
	position:absolute;
	z-index:8000;
}

.text-center{
	text-align:center;
}

.text-justify{
	text-align:justify;
}

.text-left{
	text-align:left;	
}

h1{
	font-size:40px;
	padding:10px 0;
	font-family: 'MullerLight'
}

h2{
	font-size:30px;
	padding:10px 0;
	font-family: 'MullerLight'
}

h3{
	font-size:24px;
	padding:10px 0 0 0;
	font-family: 'MullerLight'
}

.f-light{
	font-family: 'MullerLight', sans-serif;
}

.f-reg{
	font-family: 'MullerRegular', sans-serif;
}

.f-bold{
	font-family: 'MullerBold', sans-serif;
}

.f-heavy{
	font-family: 'MullerHeavy', sans-serif;
} 

.f-size-12{
	font-size:12px;
}

.f-size-14{
	font-size:14px;
}

.f-size-18{
	font-size:18px;
} 

.f-size-24{
	font-size:24px;
}

.f-size-28{
	font-size:28px;
}

.f-size-36{
	font-size:36px;
}

.f-size-60{
	font-size:60px;
}

.flex-between{
	display: -webkit-flex; 
	display: flex;
	justify-content:space-between;
}

.m-2{
	margin-top:10px;
}

.m-3{
	margin-top:15px;
}

.m-4{
	margin-top:20px;
}

.p-2{
	padding:10px;
}

.p-3{
	padding:15px;
}

.p-4{
	padding:20px;
}

.p-5{
	padding:30px;
}

.border-radius-5{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}

.border-radius-10{
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
}

a.link-btn:link    {color:#fff; transition: padding 0.3s ease-out; font-family: 'MullerRegular'; text-decoration:none; padding:10px 20px; border:1px solid #5e5e5e}
a.link-btn:active  {color:#fff; transition: padding 0.3s ease-out; font-family: 'MullerRegular'; text-decoration:none; padding:10px 20px; border:1px solid #5e5e5e}
a.link-btn:visited {color:#fff; transition: padding 0.3s ease-out; font-family: 'MullerRegular'; text-decoration:none; padding:10px 20px; border:1px solid #5e5e5e}
a.link-btn:hover   {color:#fff; transition: padding 0.3s ease-out; font-family: 'MullerRegular'; text-decoration:none; padding:10px 30px; border:1px solid #5e5e5e}


a.link-footer:link    {color:#fff; text-decoration:none; border-bottom:1px solid #5e5e5e}
a.link-footer:active  {color:#fff; text-decoration:none; border-bottom:1px solid #5e5e5e}
a.link-footer:visited {color:#fff; text-decoration:none; border-bottom:1px solid #5e5e5e}
a.link-footer:hover   {color:#fff; text-decoration:none; border-bottom:1px solid #5e5e5e}

/* -------------------  company ----------------------- */

.container{
	width:900px;
	margin: 0 auto;
}

#section-company-1{
	width:100%;
	min-height:1000px;
	background-image:url(../images/company-section-1.jpg);
	background-repeat: no-repeat;
	background-position:50% 0%;
	background-color:#78797b;
	padding:16px 0 0 0;
}

#company-title{
	font-size:60px;
	padding:200px 0 0 0;
}

.col{
	width:430px;
}

.red-bg{
	background-color:#ad3a41;
}

#section-company-2{
	width:100%;
	min-height:700px;
	background-image:url(../images/company-section-2.jpg);
	background-repeat: no-repeat;
	background-position:50% 0%;
	background-color:#8a8889;
	color:#000;
	padding:30px 0;
}

.company-detail{
	margin:30px 0 0 0;
	padding:0 0 10px 45px;
	border-bottom:1px solid #dbd8d8;
	background-image:url(../images/detail.svg);
	background-repeat: no-repeat;
	background-size:30px;
}

.company-detail-first{
	margin:44px 0 0 0;
}

.company-detail__title{
	font-family: 'MullerBold';
	font-size:22px;
	margin:0 0 10px 0;
}

.company-detail__icon{
	background-image:url(../images/icon-plus.png);
	background-repeat: no-repeat;
	width:15px;
	height:15px;
	float:right;
	margin:5px 0 0 0;
	transition:0.3s;
	cursor:pointer;
}

.company-detail__btn{
	cursor:pointer;
	color:#3d3c3c;
}

.company-detail__info{
	display:none;
	margin:0 30px 0 0;
}

.rotate45{
 -moz-transform: rotate(45deg);     
 -ms-transform: rotate(45deg);     
 -webkit-transform: rotate(45deg);     
 -o-transform: rotate(45deg);     
 transform: rotate(45deg);
}

footer{
	background-color:#000;
	padding:30px 0;
}

#section-industry{
	width:100%;
	min-height:700px;
	background-image:url(../images/section-industry.jpg);
	background-repeat: no-repeat;
	background-position:50% 0%;
	background-color:#8a8889;
	color:#fff;
	padding:50px 0;
}

#section-different{
	width:100%;
	min-height:700px;
	background-image:url(../images/section-different.jpg);
	background-repeat: no-repeat;
	background-position:50% 0%;
	background-color:#8a8889;
	color:#fff;
	padding:50px 0;
}

.img-fluid{
	max-width:100%;
	height:auto;
}

/* -------------------  nav-panel ----------------------- */

.nav-panel{
 position:fixed;	
 top:0;
 left:-100%;
 right:0;
 bottom:0;
 width:100%;
 background-color:rgba(0,0,0,1);
 z-index:9000;
 transition: left 0.3s ease-out;
 color:#fff;
}

.nav-panel-open{
 left:0;
}

#close-menu{
 position:absolute;
 top:20px;
 right:20px;
 cursor:pointer;
 font-size:24px;
}

@media only screen and (max-width : 960px) {

	.container{
		width:96%;
		margin:0 auto;
	}
	
	.flex-between{
		flex-direction: column;
	}
	
	.col{
		width:100%;
	}

}

@media only screen and (max-width : 680px) {
	
	body {
		font-size: 16px;
	}

	.content{
		width:90%;
	}
	
	#nav-container{
		display:none;
	}
	
	.logo{
		width:200px;
		height:200px;
		margin:0 0 30px 0;
	}
	
	.logo--page{
		width:60px;
		height:60px;
		margin:0 0 20px 0;
	}
	
	h1{
		font-size:30px;
		padding:0;
	}

	h2{
		font-size:24px;
		padding:0;
	}

	h3{
		font-size:22px;
		padding:0;
	}
	
	#section1__arr{
		display:none;
	}
	
}

@media only screen and (max-width : 400px) {
	
#company-title{
	font-size:40px;
	padding:230px 0 0 0;
}
	
}





